.section-plans {
    background-color: $color-gray-light;
    width: 100%;

    &__plan-box {
        background-color: $color-white;
        border-radius: .5rem;
        width: 90%;
        margin-left: 5%;
        overflow: hidden;
        box-shadow: 0 .2rem .2rem rgba($color-black, .1);

        @include respond(tab-port) {
            width: 100%;
            margin-left: 0;
        }

        @include respond(phone) {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 2rem;
        }

        & div {
            padding: 1.5rem;
            border-bottom: .2rem solid $color-gray-light;

            &:first-child {
                background-color: $color-gray-light-1;
            }

            &:last-child {
                text-align: center;
                border: 0;
            }
        }
    }

    &__plan-price {
        font-size: 6rem;
        font-weight: 100;
        color: $color-primary;
        margin-bottom: 1rem;

        @include respond(tab-port) {
            font-size: 4rem;
            font-weight: 300;
        }
        @include respond(phone) {
            font-size: 6rem;
            font-weight: 100;
            text-align: center;
        }
        
        &--span {
            font-size: $default-font-size;
            font-weight: 300;
        }
    }

    &__plan-price-meal {
        font-size: $font-size-small;

        @include respond(tab-port) {
            font-size: $font-size-small-1;
        }
        @include respond(phone) {
            font-size: $font-size-small;
            text-align: center;   
        }
    }

    &__list {
        list-style: none;
        font-size: $default-font-size;
        
        @include respond(phone) {
            margin-left: 30%;   
        }
    }

    &__item {
        padding: .5rem 0;

        @include respond(tab-port) {
            font-size: $font-size-small-1;
            padding: .2rem 0;
        }
        @include respond(phone) {
            font-size: $font-size-small;
        }
    }
}