@charset "UTF-8";
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0; }

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
  animation-duration: .7s; }

.js--wp-4.animated {
  animation-duration: .7s; }

/*
Desktop-first aproach:

1em=16px  - default for browsers

0 - 600px (0 - 37.5em):         Phones
600 - 900px (37.5 - 56.25em):   Tablet portrait
900 - 1200px (56.25 - 75em):    Tablet landscape
[1200 - 1800px]:                is where our normal style apply
1800px + (112.5em +):           Big desktop

$breakepoint argument choice:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout (header, footer) + grid > page layouts > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  color: #555;
  font-family: 'Lato','Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  /* tego nie potrzebuję jak chcę mieć taką samą czcionkę jak dla @media tab-port
    @include respond(phone) { font-size: 50%; }
        */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

section {
  padding: 8rem 0;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    section {
      padding: 6rem 0; } }

::selection {
  background-color: #e67e22;
  color: #fff; }

.heading {
  font-weight: 300;
  text-transform: uppercase; }
  .heading__primary {
    font-size: 4.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    word-spacing: 0.4rem;
    letter-spacing: 0.1rem; }
    @media only screen and (max-width: 37.5em) {
      .heading__primary {
        font-size: 4rem; } }
  .heading__secondary {
    font-size: 3.8rem;
    color: #555;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: .1rem; }
    @media only screen and (max-width: 37.5em) {
      .heading__secondary {
        font-size: 3rem; } }
    .heading__secondary::after {
      display: block;
      height: 0.2rem;
      background-color: #e67e22;
      content: "";
      width: 10rem;
      margin: 0 auto;
      margin-top: 3rem; }
  .heading__tertiary {
    font-size: 2rem;
    color: #555;
    margin-bottom: 1.5rem; }

.paragraph__first {
  font-size: 2rem;
  line-height: 145%;
  width: 70%;
  margin-left: 15%; }
  @media only screen and (max-width: 56.25em) {
    .paragraph__first {
      width: 80%;
      margin-left: 10%; } }

.paragraph__second {
  font-size: 1.8rem;
  line-height: 145%; }

.white-text {
  color: #fff; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 3rem;
  font-weight: 300;
  display: inline-block;
  border-radius: 10rem;
  border: 0.1rem solid #e67e22;
  transition: all 0.2s;
  margin-right: 1.5rem; }

.btn--full {
  background-color: #e67e22;
  color: #fff; }
  .btn--full:hover, .btn--full:active {
    background-color: #d35400;
    border: 0.1rem solid #d35400; }

.btn--ghost {
  background-color: transparent;
  color: #e67e22;
  border: 0.1rem solid #e67e22; }
  .btn--ghost:hover, .btn--ghost:active {
    background-color: #d35400;
    border: 0.1rem solid #d35400;
    color: #fff; }

.btn-app__img {
  height: 5rem;
  width: auto;
  margin-right: 1rem; }

.city-img {
  width: 100%;
  height: auto;
  margin-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .city-img {
      margin-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .city-img {
      width: 80%;
      margin-left: 10%;
      margin-top: 3rem;
      border-radius: .3rem; } }

.section-city-list {
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .section-city-list {
      width: 80%;
      margin-left: 10%; } }

.section-city-item {
  font-size: 2rem;
  padding: .6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-city-item {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-city-item {
      padding: .1rem 0;
      text-align: center; }
      .section-city-item:not(:first-child) {
        display: inline-block;
        margin-right: 2.5rem; } }
  .section-city-item:first-child {
    text-transform: uppercase;
    padding: 1rem 0; }
    @media only screen and (max-width: 37.5em) {
      .section-city-item:first-child {
        text-align: center; } }

.section-city-mail, .section-city-mail:link, .section-city-mail:visited {
  color: #e67e22;
  text-decoration: none;
  text-decoration-line: underline;
  transition: all .5s ease; }

.section-city-mail:hover, .section-city-mail:active {
  text-decoration-line: none; }

.icon-small {
  color: #e67e22;
  margin-right: 1rem;
  margin-left: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .icon-small {
      margin-right: .5rem;
      margin-left: 0; } }

.icon-small-checked {
  color: #e67e22;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 2.2rem; }
  @media only screen and (max-width: 56.25em) {
    .icon-small-checked {
      font-size: 2rem;
      margin-right: .5rem;
      margin-left: 0; } }

.icon-big {
  color: #e67e22;
  display: block;
  font-size: 700%;
  font-weight: 100;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .icon-big {
      margin-top: 1.5rem;
      margin-bottom: .5rem; } }

.map-box {
  width: 100%;
  height: 60rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .map-box {
      height: auto; } }

.map {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .map {
      height: 40rem; } }

.form-box {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  padding: 4rem 2rem 2rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form-box {
      position: relative;
      width: 100%;
      height: auto; } }

.form {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .form {
      width: 90%; } }
  .form__input {
    font-size: 2rem;
    color: #777;
    font-weight: 300; }
  .form input[type=text],
  .form input[type=email],
  .form select,
  .form textarea {
    width: 100%;
    padding: .7rem;
    border-radius: .3rem;
    border: 0.1rem solid #ccc; }
  .form input[type=checkbox] {
    margin: 1rem .5rem 1rem 0; }
  .form .form-messages {
    width: 80%;
    margin: 0 auto;
    padding: 0 4rem;
    border-radius: 3rem;
    margin-bottom: 2rem; }
  .form .success {
    color: #03a803; }
  .form .error {
    color: red; }

.section-plans {
  background-color: #f4f4f4;
  width: 100%; }
  .section-plans__plan-box {
    background-color: #fff;
    border-radius: .5rem;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 56.25em) {
      .section-plans__plan-box {
        width: 100%;
        margin-left: 0; } }
    @media only screen and (max-width: 37.5em) {
      .section-plans__plan-box {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 2rem; } }
    .section-plans__plan-box div {
      padding: 1.5rem;
      border-bottom: 0.2rem solid #f4f4f4; }
      .section-plans__plan-box div:first-child {
        background-color: #fcfcfc; }
      .section-plans__plan-box div:last-child {
        text-align: center;
        border: 0; }
  .section-plans__plan-price {
    font-size: 6rem;
    font-weight: 100;
    color: #e67e22;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .section-plans__plan-price {
        font-size: 4rem;
        font-weight: 300; } }
    @media only screen and (max-width: 37.5em) {
      .section-plans__plan-price {
        font-size: 6rem;
        font-weight: 100;
        text-align: center; } }
    .section-plans__plan-price--span {
      font-size: 2rem;
      font-weight: 300; }
  .section-plans__plan-price-meal {
    font-size: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .section-plans__plan-price-meal {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-plans__plan-price-meal {
        font-size: 1.8rem;
        text-align: center; } }
  .section-plans__list {
    list-style: none;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .section-plans__list {
        margin-left: 30%; } }
  .section-plans__item {
    padding: .5rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-plans__item {
        font-size: 1.6rem;
        padding: .2rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .section-plans__item {
        font-size: 1.8rem; } }

.section-story {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  .section-story__text {
    font-size: 2rem;
    padding: 2%;
    line-height: 145%;
    font-style: italic;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .section-story__text {
        margin-top: 3rem; } }
  .section-story__text:before {
    content: "\201C";
    font-size: 10rem;
    display: block;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem; }
  .section-story__cite {
    font-size: 1.8rem;
    margin-top: 2.5rem;
    overflow: hidden;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .section-story__cite {
        margin-top: 1.5rem;
        float: right; } }
  .section-story__img {
    height: 4.5rem;
    width: auto;
    border-radius: 50%;
    margin-right: 1rem;
    vertical-align: middle; }

.footer {
  width: 100%;
  background-color: #333333;
  color: #777;
  font-size: 1.8rem;
  padding: 5rem 0; }
  .footer__nav-1 {
    text-align: left;
    display: block; }
  .footer__nav-2 {
    font-size: 2.2rem;
    text-align: right; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    margin-right: 1rem; }
    .footer__item:last-child {
      margin-right: 0; }
    .footer__item--link:link, .footer__item--link:visited {
      display: block;
      text-decoration: none;
      color: #777;
      transition: all .2s; }
    .footer__item--link:hover, .footer__item--link:active {
      color: #f4f4f4; }
  .footer__icon, .footer__icon:link, .footer__icon:visited {
    text-decoration: none;
    color: #777;
    font-size: 3rem; }
  .footer__icon--1:hover, .footer__icon--1:active {
    color: #3b5998; }
  .footer__icon--2:hover, .footer__icon--2:active {
    color: #55acee; }
  .footer__icon--3:hover, .footer__icon--3:active {
    color: #dd4b39; }
  .footer__icon--4:hover, .footer__icon--4:active {
    color: #e95950; }
  .footer__text {
    margin-bottom: 1.2rem;
    text-align: center; }

.ion-ios-heart {
  color: red; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 2%; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      padding: 0 4%; } }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + (2 * (3rem))); }

.header {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed; }
  .header__text-box {
    position: absolute;
    width: 114rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block; }
    @media only screen and (max-width: 75em) {
      .header__text-box {
        width: 100%;
        padding: 0 2%; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        padding: 0 4%; } }

.nav {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%; }
  .nav__logo {
    margin-top: 2rem;
    height: 10rem;
    width: auto;
    float: left; }
  .nav__logo-black {
    display: none;
    margin: .5rem 0;
    height: 5rem;
    width: auto;
    float: left; }
  .nav__list {
    margin-top: 5.5rem;
    float: right;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__list {
        display: none;
        float: left;
        margin-top: 3.5rem;
        margin-left: 2.5rem; } }
  .nav__item {
    display: inline-block;
    margin-left: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__item {
        display: block; } }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff;
    padding: .8rem 0;
    border-bottom: .2rem solid transparent;
    transition: border-bottom .2s; }
    @media only screen and (max-width: 37.5em) {
      .nav__link:link, .nav__link:visited {
        display: block;
        border: 0;
        padding: 1rem 0;
        font-size: 2rem; } }
    .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
      border-bottom: 0.2rem solid #e67e22; }
      @media only screen and (max-width: 37.5em) {
        .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
          border: 0; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 2000;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.08); }
  .sticky .nav__logo-black {
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .sticky .nav__logo-black {
        margin-top: 1.5rem; } }
  .sticky .nav__logo {
    display: none; }
  .sticky .nav__link:link,
  .sticky .nav__link:visited {
    color: #555;
    padding: 1.6rem 0; }
    @media only screen and (max-width: 37.5em) {
      .sticky .nav__link:link,
      .sticky .nav__link:visited {
        padding: 1rem 0; } }
  .sticky .nav__list {
    margin-top: 1.9rem; }
    @media only screen and (max-width: 37.5em) {
      .sticky .nav__list {
        margin-top: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .sticky .mobile-nav-icon i {
      color: #555;
      font-size: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .sticky .mobile-nav-icon {
      margin-top: 1rem; } }

.mobile-nav-icon {
  float: right;
  margin-top: 3rem;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .mobile-nav-icon {
      display: inline-block; } }
  .mobile-nav-icon i {
    font-size: 7rem;
    color: #fff;
    margin-top: 2.5rem;
    margin-right: 2.5rem; }

@media only screen and (max-width: 37.5em) {
  .section-features__row {
    width: 80%;
    text-align: center; } }

.section-meals {
  width: 100%;
  padding: 0; }

.meals-showcase {
  list-style: none;
  width: 100%;
  margin: 0; }
  .meals-showcase::after {
    content: "";
    display: table;
    clear: both; }
  .meals-showcase__pic {
    display: block;
    float: left;
    width: 25%; }

.meal-photo {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  background-color: #000; }
  .meal-photo__img {
    opacity: .7;
    width: 100%;
    margin: 0;
    transform: scale(1.16);
    transition: all .5s ease-in-out; }
    .meal-photo__img:hover {
      transform: scale(1.05);
      opacity: 1; }

.section-steps {
  background-color: #f4f4f4;
  margin: auto;
  width: 100%; }
  .section-steps__steps-box:first-child {
    text-align: right;
    padding-right: 3%; }
    @media only screen and (max-width: 37.5em) {
      .section-steps__steps-box:first-child {
        text-align: center; } }
  .section-steps__steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    padding-top: 5.2rem; }
    @media only screen and (max-width: 56.25em) {
      .section-steps__steps-box:last-child {
        padding-top: 2.4rem; } }
  .section-steps .app-screan {
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .section-steps .app-screan {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .section-steps .app-screan {
        width: 50%; } }

.works-step {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .works-step {
      margin-bottom: 3rem; } }
  .works-step__number {
    border: 0.2rem solid #e67e22;
    color: #e67e22;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    padding: .5rem;
    float: left;
    margin-right: 2.5rem; }
  .works-step__text {
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .works-step__text {
        font-size: 1.8rem; } }
  .works-step:last-of-type {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .works-step:last-of-type {
        margin-bottom: 4rem; } }
  .works-step::after {
    content: "";
    display: table;
    clear: both; }

.section-city {
  width: 100%; }
