// COLORS
$color-primary: rgba(230, 126, 34,1.0);
$color-primary-dark: rgba(211, 84, 0,1.0);

$color-gray-light: #f4f4f4;
$color-gray-light-1: #fcfcfc;
$color-gray-dark: #555;
$color-gray-dark-1: #ccc;
$color-gray-dark-2: #777;
$color-gray-dark-3: rgb(51, 51, 51);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 2rem;
$font-size-small: 1.8rem;
$font-size-small-1: 1.6rem;
$font-size-big: 2.2rem;
$button-font-size: 2rem;
$font-heading-primary: 4.8rem;
$font-heading-primary-small: 4rem;
$font-heading-secondary: 3.8rem;
$font-heading-secondary-small: 3rem;
$font-heading-tertiary: 2rem;

// GRID
$grid-width: 114rem;

$gutter-vertical: 4rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 3rem;


// BORDER RADIUS
$border-radius-small: 3px;
$border-radius-big: 10rem;